<form>
    <div class="hint">{{pf2eNpcKnowledges 'editLore.hint'}}</div>
    <hr />
    <div class="lores">
        <label>{{pf2eNpcKnowledges 'editLore.unspecified'}}</label>
        <input type="text" name="unspecified" value="{{unspecified}}" />
        <label>{{pf2eNpcKnowledges 'editLore.specific'}}</label>
        <input type="text" name="specific" value="{{specific}}" />
    </div>
    <div class="buttons">
        <button>{{pf2eNpcKnowledges 'editLore.save'}}</button>
        <button class="cancel">{{pf2eNpcKnowledges 'editLore.cancel'}}</button>
    </div>
</form>
